.employees{
    padding: 4% 15%;
    &__title{
        font-weight: 600;
        font-size: 2.6vmin;
        line-height: 3vmin;
        margin-bottom: 4vmin;
    }
    &__filter{
        display: flex;
        gap: 3.5vmin;
        padding-left: 1vmin;
        
        label{
            color: #818181;
            font-size: 1.6vmin;
            line-height: 1.8vmin;
        }
        &-item.search{
            width: 33vmin;
            input{
                background: #FFFFFF;
                border: 0.2vmin solid #D1D1D1;
                width: 100%;
                height: 5vmin;
                
                padding: 1vmin 1.5vmin;
                font-size: 1.8vmin;
                line-height: 2.1vmin;
                color: #989898;
            }
            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-button,
            input[type="search"]::-webkit-search-results-decoration {
              display: none;
            }
            input[type="search"]::-ms-clear{
                display: none;
              }
            input[type=search]{
                padding-right: 3.5vmin;
            }
            button{
                background: none;
                position: absolute;
                top: calc(50% - 0.5vmin);
                right: 2vmin;
                img{
                    height: 1.4vmin;
                    
                    display: block;

                }
            }
        }
        &-item.choose{
            width: 22vmin;
            select{
                background: #FFFFFF;
                border: 0.2vmin solid #D1D1D1;
                width: 100%;
                height: 5vmin;
                appearance: none;
                padding: 1vmin 1.5vmin;
                font-size: 1.8vmin;
                line-height: 2.1vmin;
                color: #989898;
                background: url(../img/pop-select.svg) no-repeat;
                background-position: center right 1.5vmin;
                background-size: 2vmin 1.2vmin;
            }
            
            
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                  /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
                  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }
            
            
        }
        &-wrapper{
            margin-top: 1vmin;
            position: relative;
        }
    }
    &__card{
        margin-bottom: 10vmin;
        display: flex;
        &-wrapperl{
            width: 81vmin;
            display: flex;
        }
        &-left{
            
            display: flex;

        }
        &-ava{
            
            border-radius: 10vmin;
            margin-right: 4vmin;
            img{
            width: 15vmin;
            height: 15vmin;
            display: block;
            object-fit: contain;
            }
            &-stars{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2.5vmin;
                font-size: 2vmin;
                line-height: 2.3vmin;
                color: #373737;
                margin-bottom: 1vmin;
                img{
                    width: 10vmin;
                    height: 1.7vmin;
                    margin-left: 0.5vmin;
                }
            }
            &-link{
                display: flex;
                justify-content: center;
                a{
                    color: #008CFF;
                    font-size: 2vmin;
                    line-height: 2.3vmin;
                }
            }
            &-disable{
                color: #9A9A9A;
                font-size: 2vmin;
                margin-top: 1.5vmin;
                line-height: 2.3vmin;
                display: flex;
                justify-content: center;
            }
        }
        &-top{
            display: flex;
            height: 3vmin;
            align-items: flex-end;
            font-size: 2vmin;
            line-height: 2vmin;
            margin-bottom: 2vmin;
            a{
                color: #008CFF;
                font-weight: 600;
                font-size: 2.6vmin;
                line-height: 2.8vmin;
                margin-right: 1vmin;
            }
            span{
                margin: 0 1vmin;
                img{
                    width: 2vmin;
                    height: 2vmin;
                    display: block;

                }

            }
            b{
                font-weight: 400;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 22vmin;
                height: 2vmin;
                white-space: nowrap;
            }
        }
        &-subtop{
            color: #373737;
            font-size: 2vmin;
            line-height: 2.3vmin;
            margin-bottom: 2vmin;
            span{
                color: #008CFF;
            }
        }
        &-subbottom{
            display: flex;
            align-items: center;
            color: #373737;
            font-size: 2vmin;
            line-height: 2.3vmin;
            margin-bottom: 2vmin;
            img{
                margin-left: 1vmin;
                width: 3.5vmin;
                height: 3.5vmin;
                display: block;
            }
        }
        &-bottom{
            display: flex;
            align-items: center;
            color: #373737;
            font-size: 2vmin;
            line-height: 2.3vmin;
            margin-bottom: 2.5vmin;
            
        }
        &-button{
            button{
                width: 27vmin;
                height: 5vmin;
                background: #008CFF;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.6vmin;
                line-height: 1.8vmin;
                color: #FFFFFF;
            }
            button.disable{
                width: 35vmin;
                height: 5vmin;
                background: #BFBFBF;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.6vmin;
                line-height: 1.8vmin;
                color: #FFFFFF;
            }
        }
        &-wrapperr{
            height: 17vmin;
            padding-left: 5vmin;
            border-left: 0.2vmin solid #DBDBDB;
            color: #373737;
            font-size: 2vmin;
            line-height: 3vmin;
        }
    }
}
.search__filter-boxes.left{
    margin-bottom: 9vmin;
    margin-left: 4vmin;
    label{
        display: flex;
        align-items: center;
        img{
            margin-left: 0.5vmin;
            width: 3vmin;
            height: 2.5vmin;
        }
    }
}
.profile__wrapper-review-pager.big{
    width: 71vmin;
}