.order-start__main {
  margin-top: 3vmin;
  margin-left: 15%;
  width: 70vmin;
  padding-bottom: 15vmin;
}

.order-start__main-top {
  margin-top: 10vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6vmin;
}

.order-start__main-top-right {
  height: 51vmin;
  border-left: 0.2vmin solid #DBDBDB;
  min-width: 35vmin;
  padding-left: 6vmin;
}

.order-start__main-top-right-number {
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
}

.order-start__main-top-right-date {
  font-weight: 400;
  font-size: 2vmin;
  line-height: 3vmin;
  color: #5B5B5B;
  margin-top: 1vmin;
}

.order-start__main-top-right-button {
  width: 23vmin;
  height: 5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vmin;
  color: #BD0000;
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
  position: relative;
  border: 0.3vmin solid #BD0000;
}

.order-start__main-top-right-button a {
  height: 100%;
  width: 100%;
  position: absolute;
}

.order-start__main-top-right-client {
  margin-top: 5vmin;
}

.order-start__main-top-right-client-title {
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
}

.order-start__main-top-right-client-title.green {
  color: #53BD00;
  padding-top: 3.5vmin;
  position: relative;
}

.order-start__main-top-right-client-title.green:before {
  content: '';
  position: absolute;
  top: 0vmin;
  left: 0;
  width: 20vmin;
  height: 0.1vmin;
  background-color: #DBDBDB;
}

.order-start__main-top-right-client-link {
  margin-top: 3vmin;
}

.order-start__main-top-right-client-link a {
  color: #298AF6;
  font-size: 2vmin;
  line-height: 2.3vmin;
}

.order-start__main-top-right-client-link a:hover {
  text-decoration: underline;
}

.order-start__main-top-right-client-link.file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5vmin;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #818181;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
}

.order-start__main-top-right-client-link.file a {
  font-weight: 600;
}

.order-start__main-top-right-client-status {
  color: #5B5B5B;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
}

.order-start__main-top-right-client-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vmin;
  margin-top: 3vmin;
}

.order-start__main-top-right-client-price-wrapper {
  color: #818181;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
}

.order-start__main-top-right-client-price-wrapper span {
  font-weight: 600;
  font-size: 2vmin;
  line-height: 3vmin;
  color: #4B4B4B;
}

.order-start__back {
  margin-bottom: 2.6vmin;
}

.order-start__back a {
  color: #A2A2A2;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
}

.order-start__name {
  font-weight: 600;
  font-size: 2.6vmin;
  line-height: 3vmin;
}

.order-start__info {
  color: #5B5B5B;
  font-weight: 400;
  font-size: 1.8vmin;
  line-height: 2.9vmin;
  margin-top: 0.5vmin;
}

.order-start__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3vmin;
  color: #A2A2A2;
  font-size: 1.6vmin;
  line-height: 1.8vmin;
  width: 70vmin;
}

.order-start__status span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #298AF6;
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
  margin-top: 0.5vmin;
}

.order-start__status span img {
  margin-left: 0.8vmin;
  margin-right: 0.8vmin;
  width: 3.1vmin;
  height: 2.5vmin;
  display: block;
}

.order-start__status span b {
  color: #A8A8A8;
}

.order-start__status span.finished {
  color: #53BD00;
}

.order-start__status-right {
  color: #5B5B5B;
  font-size: 2vmin;
  line-height: 2.3vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5vmin;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order-start__status-right img {
  margin-left: 0.5vmin;
  width: 3.1vmin;
  height: 2.5vmin;
  display: block;
}

.order-start__status-right button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vmin;
  height: 5vmin;
  border: 0.3vmin solid #298AF6;
  color: #298AF6;
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
  position: relative;
  background: #fff;
}

.order-start__status-right button a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.order-start__status-right button.big {
  width: 33vmin;
}

.order-start__status-right button.biggest {
  width: 36vmin;
}

.order-start__status-right button.little {
  width: 20vmin;
}

.order-start__status-right button.littlest {
  width: 17vmin;
}

.order-start__status-right button.cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vmin;
  border: none;
  height: 1.8vmin;
  color: #298AF6;
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
  position: relative;
  background: #fff;
}

.order-start__status-right button.cancel a {
  width: 100%;
  height: 100%;
  color: #F62929;
  font-size: 1.6vmin;
  line-height: 1.8vmin;
}

.order-start__status-right button.black {
  width: 26vmin;
  font-size: 1.6vmin;
  line-height: 1.8vmin;
  border: 0.3vmin solid #232323;
  color: #232323;
}

.order-start__status-right-document {
  margin-bottom: 1.5vmin;
}

.order-start__status-right-document a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 2vmin;
  line-height: 2.3vmin;
  color: #298AF6;
  margin-right: 4vmin;
}

.order-start__status-right-document.margin {
  margin-top: 3.5vmin;
  margin-bottom: 3vmin;
}

.order-start__status-right.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.order-start__status.down {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 1.5vmin;
}

.order-start__status.topm {
  margin-top: 4.5vmin;
}

.order-start__map {
  width: 100%;
  height: 25vmin;
  margin-top: 4vmin;
  width: 62vmin;
}

.order-start__map-bigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.5vmin;
}

.order-start__map-bigger button {
  background: none;
  color: #008CFF;
  font-size: 1.6vmin;
  line-height: 2.1vmin;
  border-bottom: 1px dashed #209AFF;
}

.order-start__map-bigger.active {
  width: 150%;
}

.order-start__parameters {
  margin-top: 8vmin;
}

.order-start__parameters-item {
  margin-top: 5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75vmin;
  gap: 10vmin;
}

.order-start__parameters-item-doc {
  color: #5B5B5B;
  font-size: 2vmin;
  line-height: 2.3vmin;
  text-decoration: underline;
}

.order-start__parameters-left {
  width: 17vmin;
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
}

.order-start__parameters-right {
  width: 50vmin;
  color: #5B5B5B;
  font-weight: 400;
  font-size: 2vmin;
  line-height: 2.3vmin;
}

.order-start__parameters-right.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vmin;
}

.order-start__parameters-plink {
  color: #298AF6;
  font-size: 2vmin;
  line-height: 3vmin;
}

.order-start__parameters-plink:hover {
  color: #298AF6;
  text-decoration: underline;
  font-size: 2vmin;
  line-height: 3vmin;
}

.order-start__button {
  margin-top: 7vmin;
  width: 75vmin;
}

.order-start__button-button {
  width: 100%;
  height: 8vmin;
  background: #008CFF;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 2.6vmin;
  line-height: 3vmin;
  color: #FFFFFF;
}

.order-start__button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1vmin;
}

.order-start__button-text-left {
  color: #646464;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
}

.order-start__button-text-right a {
  color: #2A98D6;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
}

.order-start__button-text-right a:hover {
  text-decoration: underline;
}

.order-start__myform {
  margin-top: 10vmin;
}

.order-start__myform-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 2.6vmin;
  line-height: 3vmin;
  margin-bottom: 2.5vmin;
}

.order-start__myform-title span {
  font-family: 'Manrope';
  width: 2.5vmin;
  height: 2.5vmin;
  background: #008CFF;
  margin-left: 1vmin;
  border-radius: 5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.6vmin;
  line-height: 1.8vmin;
}

.order-start__myform-title img {
  width: 3.1vmin;
  height: 2.7vmin;
  margin-left: 0.5vmin;
}

.order-start__myform-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5vmin;
}

.order-start__myform-form-ava {
  width: 6.8vmin;
  height: 6.8vmin;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10vmin;
}

.order-start__myform-form-main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #373737;
  font-size: 2vmin;
  line-height: 2.3vmin;
}

.order-start__myform-form-main-top img {
  margin: 0 0.7vmin;
}

.order-start__myform-form-main-top a {
  color: #298AF7;
  font-weight: 600;
  font-size: 2.3vmin;
  line-height: 2.7vmin;
  margin-right: 3vmin;
}

.order-start__myform-form-main-bottom {
  background: #EEEEEE;
  border-radius: 0px 1vmin 1vmin 1vmin;
  padding-top: 2vmin;
  padding-right: 3vmin;
  padding-bottom: 3vmin;
  padding-left: 2.5vmin;
  width: 65vmin;
  margin-top: 2vmin;
}

.order-start__myform-form-main-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-start__myform-form-main-up span {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-right: 0.7vmin;
}

.order-start__myform-form-main-up-right button {
  background: none;
  color: #FF0000;
  font-size: 1.8vmin;
  line-height: 2.6vmin;
}

.order-start__myform-form-main-sub-up {
  margin-top: 0.5vmin;
  color: #747474;
  font-size: 1.8vmin;
  line-height: 2.6vmin;
  margin-bottom: 3vmin;
}

.order-start__myform-form-main-middle {
  font-size: 1.8vmin;
  line-height: 2.6vmin;
  color: #000000;
  margin-bottom: 4vmin;
}

.order-start__myform-form-main-button {
  width: 28vmin;
  background: #008CFF;
  height: 5vmin;
}

.order-start__myform-form-main-button a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
  color: #FFFFFF;
}

.order-start__myform-form-main-button-less {
  width: 24vmin;
  background: #008CFF;
  height: 5vmin;
}

.order-start__myform-form-main-button-less a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
  color: #FFFFFF;
}

.order-start__myform-form-main-chat {
  width: 21vmin;
  background: #008CFF;
  height: 5vmin;
}

.order-start__myform-form-main-chat a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
  color: #FFFFFF;
}

.order-start__myform-form-main-choose {
  width: 28vmin;
  background: #53BD00;
  height: 5vmin;
  margin-left: 3vmin;
  position: relative;
}

.order-start__myform-form-main-choose a {
  text-transform: uppercase;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
  min-width: 100%;
  height: 100%;
  color: #FFFFFF;
}

.order-start__myform-form-main-cancel {
  width: 30vmin;
  background: #BD0000;
  height: 5vmin;
  margin-left: 3vmin;
  position: relative;
}

.order-start__myform-form-main-cancel a {
  text-transform: uppercase;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
  min-width: 100%;
  height: 100%;
  color: #FFFFFF;
}

.order-start__myform-form-main-cancel.orange {
  background: #E87F1E;
  width: 32vmin;
}

.order-start__myform-form.client {
  margin-bottom: 7vmin;
}

.order-start__myform-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vmin;
  margin-bottom: 6vmin;
}

.order-start__myform-filter-item button {
  padding: 0 2vmin;
  background: #FFFFFF;
  border: 0.2vmin solid #676767;
  border-radius: 2.5vmin;
  height: 4vmin;
  color: #0C0C0C;
  font-size: 1.8vmin;
  line-height: 2vmin;
}

.order-start__myform-filter-item button.active {
  padding: 0 2vmin;
  background: #E4F3FF;
  border: 0.2vmin solid #298AF7;
  border-radius: 2.5vmin;
  height: 4vmin;
  color: #298AF7;
  font-size: 1.8vmin;
  line-height: 2vmin;
}

.order-start__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7.3vmin 1.5vmin;
  margin-top: 9vmin;
  width: 62vmin;
  margin-bottom: 6vmin;
}

.order-start__steps-item {
  width: 14vmin;
}

.order-start__steps-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-start__steps-item-top div.preactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5vmin;
  height: 2.5vmin;
  border-radius: 5vmin;
  border: 0.3vmin solid #298AF6;
  color: #298AF6;
  font-weight: 600;
  font-size: 1.6vmin;
  line-height: 1.8vmin;
}

.order-start__steps-item-top div.active {
  width: 2.5vmin;
  height: 2.5vmin;
  border-radius: 5vmin;
  background: url(../img/order-complete.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  border: none;
}

.order-start__steps-item-top div.disable {
  width: 2.5vmin;
  height: 2.5vmin;
  border-radius: 5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.3vmin solid #ABABAB;
  color: #ABABAB;
  font-weight: 600;
  font-size: 1.6vmin;
  line-height: 1.8vmin;
}

.order-start__steps-item-top span.disable {
  margin-left: 1.5vmin;
  width: 10vmin;
  height: 0.2vmin;
  background: #ABABAB;
}

.order-start__steps-item-top span.active {
  margin-left: 1.5vmin;
  width: 10vmin;
  height: 0.2vmin;
  background: #53BD00;
}

.order-start__steps-item-bottom.preactive {
  margin-top: 1.5vmin;
  color: #298AF6;
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
}

.order-start__steps-item-bottom.active {
  margin-top: 1.5vmin;
  color: #53BD00;
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
}

.order-start__steps-item-bottom.disable {
  margin-top: 1.5vmin;
  color: #676767;
  font-weight: 600;
  font-size: 2vmin;
  line-height: 2.3vmin;
}

.order-start__steps-item-bottom-link {
  margin-top: 0.7vmin;
}

.order-start__steps-item-bottom-link a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 1.8vmin;
  line-height: 2.1vmin;
  color: #298AF6;
}

#YMapsID {
  width: 100%;
  height: 100%;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.maxMap {
  width: 150% !important;
  height: 50vmin !important;
}

.pop-approval__double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2vmin;
  line-height: 2.3vmin;
  margin-bottom: 7vmin;
}

.pop-approval__double-left {
  width: 24vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.7vmin;
  color: #8F8F8F;
}

.pop-approval__double-right {
  width: 22vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.7vmin;
  font-weight: 600;
  color: #1C1D1E;
}
/*# sourceMappingURL=order.css.map */