.order-start{
    &__main{
        margin-top: 3vmin;
        margin-left: 15%;
        width: 70vmin;
        padding-bottom: 15vmin;
        &-top{
            margin-top: 10vmin;
            display: flex;
            gap: 6vmin;
            &-right{
                height: 51vmin;
                border-left: 0.2vmin solid #DBDBDB;
                min-width: 35vmin;
                padding-left: 6vmin;
                &-number{
                    font-weight: 600;
                    font-size: 2vmin;
                    line-height: 2.3vmin;
                }
                &-date{
                    font-weight: 400;
                    font-size: 2vmin;
                    line-height: 3vmin;
                    color: #5B5B5B;
                    margin-top: 1vmin;
                }
                &-button{
                    width: 23vmin;
                    height: 5vmin;
                    display: flex;
                    align-items: center;
                    justify-content: center;    
                    margin-top: 3vmin;
                    color: #BD0000;
                    font-weight: 600;
                    font-size: 2vmin;
                    line-height: 2.3vmin;
                    position: relative;
                    border: 0.3vmin solid #BD0000;
                    a{
                        height: 100%;
                        width: 100%;
                        position: absolute;
                    }
                }
                &-client{
                    margin-top: 5vmin;
                    &-title{
                        font-weight: 600;
                        font-size: 2vmin;
                        line-height: 2.3vmin;
                    }
                    &-title.green{
                        color: #53BD00;
                        padding-top: 3.5vmin;
                        position: relative;
                    }
                    &-title.green:before{
                        content: '';
                        position: absolute;
                        top: 0vmin;
                        left: 0;
                        width: 20vmin;
                        height: 0.1vmin;
                        background-color: #DBDBDB;
                    }
                    &-link{
                        margin-top: 3vmin;
                        a{
                            color: #298AF6;
                            font-size: 2vmin;
                            line-height: 2.3vmin;
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                    &-link.file{
                        display: flex;
                        gap: 0.5vmin;
                        flex-direction: column;
                        color: #818181;
                        font-size: 1.8vmin;
                        line-height: 2.1vmin;
                        a{
                            font-weight: 600;
                        }
                    }
                    &-status{
                        color: #5B5B5B;
                        font-size: 1.8vmin;
                        line-height: 2.1vmin;
                    }
                    &-price{
                        display: flex;
                        flex-direction: column;
                        gap: 3vmin;
                        margin-top: 3vmin;
                        &-wrapper{
                            color: #818181;
                            font-size: 1.8vmin;
                            line-height: 2.1vmin;
                            span{
                                font-weight: 600;
                                font-size: 2vmin;
                                line-height: 3vmin;
                                color: #4B4B4B;
                            }
                        }
                    }
                }
            }
        }
    }
    &__back{
        margin-bottom: 2.6vmin;
        a{
            color: #A2A2A2;
            font-size: 1.8vmin;
            line-height: 2.1vmin;
            
        }
    }
    &__name{
        font-weight: 600;
        font-size: 2.6vmin;
        line-height: 3vmin;
    }
    &__info{
        color: #5B5B5B;
        font-weight: 400;
        font-size: 1.8vmin;
        line-height: 2.9vmin;
        margin-top: 0.5vmin;
    }
    &__status{
        display: flex;
        justify-content: space-between;
        margin-top: 3vmin;
        color: #A2A2A2;
        font-size: 1.6vmin;
        line-height: 1.8vmin;
        width: 70vmin;
        span{
            display: flex;
            align-items: center;
            color: #298AF6;
            font-weight: 600;
            font-size: 2vmin;
            line-height: 2.3vmin;
            margin-top: 0.5vmin;
            img{
                margin-left: 0.8vmin;
                margin-right: 0.8vmin;
                width: 3.1vmin;
                height: 2.5vmin;
                display: block;
            }
            b{
                color: #A8A8A8;
                
            }
        }
        span.finished{
            color: #53BD00;
        }
        b{
            
        }
        &-right{
            color: #5B5B5B;
            font-size: 2vmin;
            line-height: 2.3vmin;
            display: flex;
            gap: 1.5vmin;
            align-items: flex-end;
            img{
                margin-left: 0.5vmin;
                width: 3.1vmin;
                height: 2.5vmin;
                display: block;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30vmin;
                height: 5vmin;
                border: 0.3vmin solid #298AF6;
                color: #298AF6;
                font-weight: 600;
                font-size: 2vmin;
                line-height: 2.3vmin;
                position: relative; 
                background: #fff;
                a{
                    position: absolute;
                    width: 100%;
                    height: 100%;

                }
            }
            button.big{
                width: 33vmin;
            }
            button.biggest{
                width: 36vmin;
            }
            button.little{
                width: 20vmin;
            }
            button.littlest{
                width: 17vmin;
            }
            button.cancel{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30vmin;
                
                border: none;
                height: 1.8vmin;
                color: #298AF6;
                font-weight: 600;
                font-size: 2vmin;
                line-height: 2.3vmin;
                position: relative; 
                background: #fff;
                a{
                    
                    width: 100%;
                    height: 100%;
                    color: #F62929;
                    font-size: 1.6vmin;
                    line-height: 1.8vmin;
                }
            }
            button.black{
                width: 26vmin;
                font-size: 1.6vmin;
                line-height: 1.8vmin;
                border: 0.3vmin solid #232323;
                color: #232323;
            }
            &-document{
                margin-bottom: 1.5vmin;
                a{
                    text-decoration-line: underline;
                    font-size: 2vmin;
                    line-height: 2.3vmin;
                    color: #298AF6;
                    margin-right: 4vmin;
                }
            }
            &-document.margin{
                margin-top: 3.5vmin;
                margin-bottom: 3vmin;
            }
        }
        &-right.column{
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__status.down{
        align-items: flex-end;
        margin-top: 1.5vmin;
    }
    &__status.topm{
        margin-top: 4.5vmin;
    }
    &__map{
        width: 100%;
        height: 25vmin;
        margin-top: 4vmin;
        width: 62vmin;
        &-bigger{
            display: flex;
            justify-content: flex-end;
            margin-top: 0.5vmin;

            button{
                background: none;
                
                color: #008CFF;
                font-size: 1.6vmin;
                line-height: 2.1vmin;
                border-bottom: 1px dashed #209AFF;
            }
        }
        &-bigger.active{
            width: 150%;
        }
    }
    &__parameters{
        margin-top: 8vmin;
        &-item{
            margin-top: 5vmin;
            display: flex;
            
            width: 75vmin;
            gap: 10vmin;
            &-doc{
                color: #5B5B5B;
                font-size: 2vmin;
                line-height: 2.3vmin;
                text-decoration: underline;
            }
        }
        &-left{
            width: 17vmin;
            font-weight: 600;
            font-size: 2vmin;
            line-height: 2.3vmin;
        }
        &-right{
            width: 50vmin;
            color: #5B5B5B;
            font-weight: 400;
            font-size: 2vmin;
            line-height: 2.3vmin;
            &.column{
                display: flex;
                flex-direction: column;
                gap: 2vmin;
            }
        }
        &-plink{
            color: #298AF6;
            font-size: 2vmin;
            line-height: 3vmin;
            
        }
        &-plink:hover{
            color: #298AF6;
            text-decoration: underline;
            font-size: 2vmin;
            line-height: 3vmin;
            
        }
        
    }
    &__button{
        margin-top: 7vmin;
        width: 75vmin;
        &-button{
            width: 100%;
            height: 8vmin;
            background: #008CFF;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 2.6vmin;
            line-height: 3vmin;
            color: #FFFFFF;
        }
        &-text{
            display: flex;
            justify-content: space-between;
            margin-top: 1vmin;
            &-left{
                color: #646464;
                font-size: 1.8vmin;
                line-height: 2.1vmin;
            }
            &-right a{
                color: #2A98D6;
                font-size: 1.8vmin;
                line-height: 2.1vmin;
            }
            &-right a:hover{
                text-decoration: underline;
            }
        }
    }
    &__myform{
        margin-top: 10vmin;
        &-title{
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 2.6vmin;
            line-height: 3vmin;
            margin-bottom: 2.5vmin;
            span{
                font-family: 'Manrope';
                width: 2.5vmin;
                height: 2.5vmin;
                background: #008CFF;
                margin-left: 1vmin;
                border-radius: 5vmin;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFFFFF;
                font-weight: 600;
                font-size: 1.6vmin;
                line-height: 1.8vmin;
            }
            img{
                width: 3.1vmin;
                height: 2.7vmin;
                margin-left: 0.5vmin;
                
                
            }
        }
        &-form{
            display: flex;
            gap: 2.5vmin;
            &-ava{
                width: 6.8vmin;
                height: 6.8vmin;
                display: block;
                object-fit: contain;
                border-radius: 10vmin;
            }
            &-main{
                
                &-top{
                    display: flex;
                    align-items: center;
                    color: #373737;
                    font-size: 2vmin;
                    line-height: 2.3vmin;
                    img{
                        margin: 0 0.7vmin;
                    }
                    a{
                        color: #298AF7;
                        font-weight: 600;
                        font-size: 2.3vmin;
                        line-height: 2.7vmin;
                        margin-right: 3vmin;
                    }
                }
                &-bottom{
                    background: #EEEEEE;
                    border-radius: 0px 1vmin 1vmin 1vmin;
                    padding-top: 2vmin;
                    padding-right: 3vmin;
                    padding-bottom: 3vmin;
                    padding-left: 2.5vmin;
                    width: 65vmin;
                    margin-top: 2vmin;
                }
                &-up{
                    display: flex;
                    justify-content: space-between;
                    span{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24px;
                        margin-right: 0.7vmin;
                    }
                    &-right{
                        button{
                            background: none;
                            color: #FF0000;
                            font-size: 1.8vmin;
                            line-height: 2.6vmin;
                        }
                    }
                }
                &-sub-up{
                    margin-top: 0.5vmin;
                    color: #747474;
                    font-size: 1.8vmin;
                    line-height: 2.6vmin;
                    margin-bottom: 3vmin;
                }
                &-middle{
                    font-size: 1.8vmin;
                    line-height: 2.6vmin;
                    color: #000000;
                    margin-bottom: 4vmin;
                }
                &-button{
                    width: 28vmin;
                    background: #008CFF;
                    height: 5vmin;
                    a{
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 1.8vmin;
                        line-height: 2.1vmin;
                        color: #FFFFFF;
                    }
                }
                &-button-less{
                    width: 24vmin;
                    background: #008CFF;
                    height: 5vmin;
                    a{
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 1.8vmin;
                        line-height: 2.1vmin;
                        color: #FFFFFF;
                    }
                }
                &-chat{
                    width: 21vmin;
                    background: #008CFF;
                    height: 5vmin;
                    a{
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 1.8vmin;
                        line-height: 2.1vmin;
                        color: #FFFFFF;
                    }
                }
                &-choose{
                    width: 28vmin;
                    background: #53BD00;
                    height: 5vmin;
                    margin-left: 3vmin;
                    position: relative;
                    
                    a{
                        text-transform: uppercase;

                        left: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 1.8vmin;
                        line-height: 2.1vmin;
                        min-width: 100%;
                        height: 100%;
                        color: #FFFFFF;
                    }
                }
                &-cancel{
                    width: 30vmin;
                    background: #BD0000;
                    height: 5vmin;
                    margin-left: 3vmin;
                    position: relative;
                    
                    a{
                        text-transform: uppercase;

                        left: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 1.8vmin;
                        line-height: 2.1vmin;
                        min-width: 100%;
                        height: 100%;
                        color: #FFFFFF;
                    }
                }
                &-cancel.orange{
                    background: #E87F1E;
                    width: 32vmin;
                }

            }

            
        }
        &-form.client{
            margin-bottom: 7vmin;
        }
        &-filter{
            display: flex;
            gap: 3vmin;
            margin-bottom: 6vmin;
            &-item{

                button{
                    padding: 0 2vmin;
                    background: #FFFFFF;
                    border: 0.2vmin solid #676767;
                    border-radius: 2.5vmin;
                    height: 4vmin;
                    color: #0C0C0C;
                    font-size: 1.8vmin;
                    line-height: 2vmin;
                }
                button.active{
                    padding: 0 2vmin;
                    background: #E4F3FF;
                    border: 0.2vmin solid #298AF7;
                    border-radius: 2.5vmin;
                    height: 4vmin;
                    color: #298AF7;
                    font-size: 1.8vmin;
                    line-height: 2vmin;
                }
            }
        }
    }
    &__steps{
        display: flex;
        flex-wrap: wrap;
        gap: 7.3vmin 1.5vmin;
        margin-top: 9vmin;
        width: 62vmin;
        margin-bottom: 6vmin;
        &-item{
            width: 14vmin;
            &-top{
                display: flex;
                align-items: center;
                div.preactive{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.5vmin;
                    height: 2.5vmin;
                    border-radius: 5vmin;
                    border: 0.3vmin solid #298AF6;
                    
                    color: #298AF6;
                    font-weight: 600;
                    font-size: 1.6vmin;
                    line-height: 1.8vmin;
                }
                div.active{
                    width: 2.5vmin;
                    height: 2.5vmin;
                    border-radius: 5vmin;
                    background: url(../img/order-complete.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    font-size: 0;
                    border: none;
                }
                div.disable{
                    width: 2.5vmin;
                    height: 2.5vmin;
                    border-radius: 5vmin;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0.3vmin solid #ABABAB;
                    color: #ABABAB;
                    font-weight: 600;
                    font-size: 1.6vmin;
                    line-height: 1.8vmin;
                }
                span.disable{
                    margin-left: 1.5vmin;
                    width: 10vmin;
                    height: 0.2vmin;
                    background: #ABABAB;
                }
                span.active{
                    margin-left: 1.5vmin;
                    width: 10vmin;
                    height: 0.2vmin;
                    background: #53BD00;
                }
            }
            &-bottom.preactive{
                margin-top: 1.5vmin;
                color: #298AF6;
                font-weight: 600;
                font-size: 2vmin;
                line-height: 2.3vmin;
            }
            &-bottom.active{
                margin-top: 1.5vmin;
                color: #53BD00;
                font-weight: 600;
                font-size: 2vmin;
                line-height: 2.3vmin;
            }
            &-bottom.disable{
                margin-top: 1.5vmin;
                color: #676767;
                font-weight: 600;
                font-size: 2vmin;
                line-height: 2.3vmin;
            }
            &-bottom-link{
                margin-top: 0.7vmin;
                a{
                text-decoration-line: underline;
                font-size: 1.8vmin;
                line-height: 2.1vmin;
                color: #298AF6;
                }
            }
        }
        
        
    }
    
}
#YMapsID{
    width: 100%; height: 100%;
}
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: grayscale(1);

}
.maxMap {
    width: 150% !important;
    height: 50vmin !important;
}
.pop-approval{
    &__double{
        display: flex;
        font-size: 2vmin;
        line-height: 2.3vmin;
        margin-bottom: 7vmin;
        &-left{
            width: 24vmin;
            display: flex;
            flex-direction: column;
            gap: 1.7vmin;
            color: #8F8F8F;
        }
        &-right{
            width: 22vmin;
            display: flex;
            flex-direction: column;
            gap: 1.7vmin;
            font-weight: 600;
            color: #1C1D1E;
        }
    }
}